body {
  font-family: Tahoma, Geneva, sans-serif;
}
section.step{
  color: lightgray;
  width: 100%;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}

section.step p{
  margin: 2;
}

section.step > .stepBody{
  padding: 5px;
  display: none;
}

.step:last-of-type{
color: black;

margin-top: 8px;
}

section.step:last-of-type > .stepBody{
  display:block;
}

.step .title{
  font-weight: bold;
  padding : 4px;
  margin: 0;
}
section.red .title {
    background-color: #FC9999;
  }

section.green .title {
    background-color: #99FC99;
  }

section.refactor .title{
    background-color: #9999FC;
  } 

section.red{
  border-color: red;
}

section.green{
  border-color:green;
}

section.refactor{
  border-color:blue;
}

